body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 100px;
}

.poke-cards {
  display: grid;
  gap: 30px;
}

.easy {
  grid-template-columns: 1fr 1fr 1fr;
}

.normal,
.hard {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.poke-card {
  display: flex;
  width: 6vw;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.poke-card img {
  width: 100%;
}

.poke-card p {
  font-weight: bold;
  font-size: 17px;
}

.difficulty-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.difficulty-form button {
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 9px;
  cursor: pointer;
  background-color: black;
  padding: 10px 15px;
}
