body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-image: url("assets/background.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
on the container's size */
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
  margin-bottom: 50px;
}

h1 {
  font-size: 41px;
  margin-bottom: 75px;
}

.memory-game-text {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding: 4px 23px;
  font-size: 32px;
}

.poke-cards {
  display: grid;
  gap: 30px;
  animation: slide-left 1s;
}

.easy {
  grid-template-columns: 1fr 1fr 1fr;
}

.normal,
.hard {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.poke-card {
  display: flex;
  width: 6vw;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.25s;
}

.poke-card:hover {
  color: white;
  background-color: black;
  filter: grayscale(1);
}

.poke-card img {
  width: 100%;
}

.poke-card p {
  font-weight: bold;
  font-size: 17px;
}

.difficulty-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slide-top 1.5s;
}

.difficulty-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 175px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

button {
  border: solid black 2px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 9px;
  cursor: pointer;
  background-color: black;
  padding: 12px 32px;
  animation: alternate;
  transition: all 0.15s;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.notification-text {
  font-size: 29px;
  font-weight: bold;
  line-height: 25px;
  margin-top: 35px;
}

.win-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

/* ANIMATIONS */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
  margin-top: 250px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(-750px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-1250px);
  }
}
